# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
redux_demo_node/node_modules
# dependencies
redux_demo_react/node_modules
redux_demo_react/.pnp
redux_demo_react/.pnp.js

# testing
redux_demo_react/coverage

# production
redux_demo_react/build

# misc
redux_demo_react/.DS_Store
redux_demo_react/.env.local
redux_demo_react/.env.development.local
redux_demo_react/.env.test.local
redux_demo_react/.env.production.local

redux_demo_react/npm-debug.log*
redux_demo_react/yarn-debug.log*
redux_demo_react/yarn-error.log*
